<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Settings">
        <setting label="Login Settings" type="lsep"/>
        <setting label="Territory" type="labelenum" id="platform_id" values="DE|GB|IT" default="DE" visible="true"/>
        
        <setting label="Device Capabilities" type="lsep"/>
        <setting label="Enable UHD/HD Video" type="bool" id="hd_enabled" default="true"/>
    </category>
</settings>